[submodule "Ume/vendor/spdlog"]
	path = Ume/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Ume/vendor/GLFW"]
	path = Ume/vendor/GLFW
	url = git@github.com:TheCherno/glfw.git
[submodule "Ume/vendor/imgui"]
	path = Ume/vendor/imgui
	url = https://github.com/TheCherno/imgui
[submodule "Ume/vendor/glm"]
	path = Ume/vendor/glm
	url = https://github.com/g-truc/glm
